<!-- forgotPassword.ejs -->
<h1 class="section-title"><%= titles %></h1>
<% if (subtitle) { %>
  <p class="subtitle"><%= subtitle %></p>
<% } %>
<form method="POST" action="<%= formAction %>" enctype="multipart/form-data">
  <% for(let i = 0; i < fields.length; i++) { %>
    <% if (fields[i] !== 'avatar') { %><!--avatar is for userUpdate template-->
      <label for="<%= fields[i] %>" class="label"><%= labels[i] %></label>
      <input type="text" id="<%= fields[i] %>" name="<%= fields[i] %>" placeholder="<%= fields[i] %>"><br>
    <% } %>
  <% } %>
  <% if (fields.includes('avatar')) { %> <!-- Check if avatar field exists -->
    <label for="avatar" class="label-avatar">Avatar:</label><br>
    <input type="file" id="avatar" name="avatar"><br><br>
  <% } %>
  <button type="submit"><%= submitBtn %></button>
</form>
<% if (message) { %>
  <p><%= message %></p>
<% } %>
