<!-- forgotPassword.ejs -->
<div id="forgot-password-container">
  <h1 class="section-title"><%= titles %></h1>
  <% if (subtitle) { %>
  <p class="subtitle"><%= subtitle %></p>
  <% } %>
  <form method="POST" action="<%= formAction %>" enctype="multipart/form-data">
    <% for(let i=0; i < fields.length; i++) { %> <% if (fields[i] !=='avatar' )
    { %><!--avatar is for userUpdate template-->
    <label for="<%= fields[i] %>" class="label"> <%= labels[i] %> </label>
    <input
      type="text"
      id="<%= fields[i] %>"
      name="<%= fields[i] %>"
      placeholder="<%= fields[i] %>"
      value="<%= values[i] %>"
    /><br />
    <% } %> <% } %> <% if (fields.includes('avatar')) { %>
    <!-- Check if avatar field exists -->
    <label for="avatar" class="label-avatar">Avatar:</label><br />
    <div class="avatar-uploader">
      <img src="<%=user.avatar%>" class="avatar-profile" alt="user-avatar" />
      <input type="file" id="avatar" name="avatar" /><br /><br />
    </div>
    <% } %>
    <button type="submit"><%= submitBtn %></button>
  </form>
  <% if (message) { %>
  <p><%= message %></p>
  <% } %>
</div>

<style>
  #forgot-password-container{
    margin: 6.2rem auto;
  }
</style>
