<h1 class="section-title"><%= titles %></h1>
<form method="POST" action="/reset-password">
  <% for(let i = 0; i < fields.length; i++) { %>
    <label for="<%= fields[i] %>"></label>
    <input type="text" id="<%= fields[i] %>" name="<%= fields[i] %>" placeholder="<%= fields[i] %>"><br>
  <% } %>
  <button type="submit"><%= submitBtn %></button>
</form>
<% if (message) { %>
  <p><%= message %></p>
<% } %>