<div className="blogs-page-container">
  <div className="blogs-container">
    <div className="section-title1">
      <h1 className="text-white"><%= title %></h1>
    </div>

    <!-- pagination top -->
    <div className="pagination">
      <% if (page && page> 1) { %>
      <a href="/api/<%= route %>?page=<%= page - 1 %>&perPage=<%= perPage %>"
        >Previous</a
      >
      <% } %> <% for (let i=1; i <=totalPages; i++) { %> <% if (!(i===totalPages
      && blogs.length===0)) { %>
      <a
        href="/api/<%= route %>?page=<%= i %>&perPage=<%= perPage %>"
        className="<%= currentPage === i ? 'active' : '' %>"
      >
        <%= i %>
      </a>
      <% } %> <% } %> <% if (page && page < totalPages) { %>
      <a href="/api/<%= route %>?page=<%= page + 1 %>&perPage=<%= perPage %>"
        >Next</a
      >
      <% } %>
    </div>

    <!-- blogs -->
    <div className="blogs-grid">
      <% blogs.forEach((blog, index)=> { %>
      <div className="blog-item backdrop-filter shadow-lg">
        <a href="<%= blog.next %>">
          <img src="<%= blog.thumbnail %>" alt="thumbnail-<%= blog.slug %>" />
          <p className="timestamp text-white"><%= blog.updated_at %></p>
          <div className="author">
            <img
              src="<%= blog.author.avatar %>"
              alt="User Avatar"
              className="avatar"
            />
            <p className="author-info text-white">
              <strong> <%= blog.author.username %> </strong> •
              <%=blog.author.name%>
            </p>
          </div>
          <h2 className="text-white"><%= blog.title %></h2>

          <!-- limit description 50 words -->
          <% let descriptionWords=blog.description.split(' '); %> <% let
          limitedDescription = descriptionWords.slice(0, 50).join(' '); %>
          <p className="text-white"><%= limitedDescription %></p>
        </a>
        <% if (isAdmin) {%>
        <div className="blog-actions text-white">
          <p>
            <a className="text-muted" href="/api/blog/<%= blog.id %>/update"
              ><i className="fas fa-edit me-2"></i>
            </a>
            <input type="hidden" name="author" value="<%= blog.author %>" />
          </p>
          <p>
            <a
              className="text-muted"
              href="/api/blog/<%= blog.id %>/delete?blogId=<%= blog.id %>"
              ><i className="fas fa-trash-alt me-2"></i
            ></a>
          </p>
        </div>
        <% }%>
      </div>
      <% if ((index + 1) % 4===0 && index !==blogs.length - 1) { %>
    </div>
    <div className="blogs-grid"><% } %> <% }); %></div>
  </div>
</div>
