<h1 class="section-title"><%= title %></h1>
<div>
    <form id="courseForm" action="<%= action %>" method="POST" enctype="multipart/form-data">
        <!-- Form action should match the route for creating a course -->
        <label for="title">title:</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="description">Description:</label><br>
        <input id="description" name="description"><br><br>

        <label for="text_content">Text Content:</label><br>
        <textarea id="text_content" name="text_content"></textarea><br><br>

        <label for="thumbnail">Thumbnail:</label><br>
        <input type="file" name="thumbnail" accept="image/*"><br><br>

        <input type="hidden" name="author" value="<%= user %>">  
        <button type="submit"><%= submit %></button>

        <!-- Display error message -->
        <% if (errorMessage) { %>
            <p class="bg-red">
                <%= errorMessage %>
            </p>
            <% } %>
    </form>
</div>