

    <% if (user.role === "admin") { %>
    <div class="course-admin-options">
        <div>
            <div>
                <button>
                    <p><a href="/api/course/<%= course.id %>/update?courseId=<%= course.id %>">Edit course</a>
                    </p>
                </button>
                <button>
                    <p><a href="/api/course/<%= course.id %>/delete?courseId=<%= course.id %>">Delete course</a>
                    </p>
                </button>
            </div>
        </div>
    </div>
    <% } %>

    <!-- PLAYER -->
    <!-- ========================================================= -->
    <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <iframe  src="<%= course.video_link %>" width="560" height="315" frameborder="0" autoplay allowfullscreen></iframe>
                    </div>
                </div>
            </div>
              

              
    </div>

    <!-- COURSE DETAIL -->
    <!-- ========================================================= -->
    <div>
        <p class="text-muted"><%= course.updated_at %></p>
        <div>
            <h1>
                <%= course.title %>
            </h1>
        </div>
        <h3>
            <%= course.description %>
        </h3>
        <p><%= course.text_content %></p>
    </div>

    <!--SCRIPTS-------------------------------------------------------------------------------------------------------------------->
   