<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course <%=course.title%>
    </title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courseDetail.css">
</head>

<body>
    <!--NAV BUTTONS-------------------------------------------------------------------------------------------------------------------->
    <div class="navigation">
        <%- include ('navbar') -%>
            <%- include ('alert') -%>
                <div>
                    <div>
                        <button>
                            <p><a href="/api/course/<%= course.id %>/update?courseId=<%= course.id %>">Edit course</a></p>
                        </button>
                        <button>
                            <p><a href="/api/course/<%= course.id %>/module/create?courseId=<%= course.id %>">add more modules</a></p>
                        </button>
                        <button>
                            <p><a href="/api/course/<%= course.id %>/delete?courseId=<%= course.id %>">Delete course</a></p>
                        </button>
                    </div>
                </div>
    </div>
    
    <!-- PLAYER -->
    <!-- ========================================================= -->
    <div class="course-container">
        <% if (modules.length> 0) { %>
            <div class="first-module">
                <div class='course-detail'>
                    <h1>
                        <%= modules[0].title %>
                    </h1>
                    <!-- Video player container for the first module -->
                    <div class="plyr__video-embed" id="player<%= modules[0].id %>">
                        <!-- Embedded video link -->
                        <iframe src="<%= modules[0].video_link %>" allowfullscreen allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
            <% } %>
                <!-- ========================================================= -->
                <!-- Include Plyr.js CSS -->
                <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

                <!-- MODULES LIST --------------->
                <!-- ========================================================= -->
                <div class="modules-list">
                    <!-- Render modules for the current course -->
                    <h2>Modules</h2>
                    <ul>
                        <% modules.slice(1).forEach((module)=> { %>
                            <li>
                                <h3>
                                    <%= module.title %>
                                </h3>
                                <img src="<%= module.thumbnail %>" alt="Thumbnail-<%= module.title%>">
                                <!-- Video player container -->
                                <!-- <div class="plyr__video-embed" id="player<%= module.id %>"> -->
                                    <!-- Embedded video link -->
                                    <!-- <iframe src="<%= module.video_link %>" allowfullscreen allowtransparency
                                        allow="autoplay"></iframe> -->
                                <!-- </div> -->
                            </li>
                            <% }) %>
                    </ul>
                </div>
    </div>

    <!-- COURSE DETAIL -->
    <!-- ========================================================= -->
    <div class="course-detail">
        <h1>
            <%= course.title %>
        </h1>
        <h3>
            <%= course.description %>
        </h3>
        <br>
    </div>

    <!--SCRIPTS-------------------------------------------------------------------------------------------------------------------->
    <!-- Include Plyr.js library -->
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>

    <!-- Initialize Plyr.js -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Select all video players with class 'plyr__video-embed' and initialize Plyr
            const players = Array.from(document.querySelectorAll('.plyr__video-embed')).map(p => new Plyr(p));
        });
    </script>
</body>

</html>