<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course <%=course.title%>
    </title>
    <link rel="stylesheet" href="/css/sectionTitle.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courseDetail.css">
</head>

<body>
    <!--NAV BUTTONS-------------------------------------------------------------------------------------------------------------------->
    <div class="navigation">
        <%- include ('navbar') -%>
            <%- include ('alert') -%>    
    </div>

    <% if (user.role === "admin") { %>
    <div class="course-admin-options">
        <div>
            <div>
                <button>
                    <p><a href="/api/course/<%= course.id %>/update?courseId=<%= course.id %>">Edit course</a>
                    </p>
                </button>
                <button>
                    <p><a href="/api/course/<%= course.id %>/delete?courseId=<%= course.id %>">Delete course</a>
                    </p>
                </button>
            </div>
        </div>
    </div>
    <% } %>

    <!-- PLAYER -->
    <!-- ========================================================= -->
    <div class="course-container">
            <div class="first-module">
                <div class='course-detail'>
                    <div class="plyr__video-embed" id="player<%= course.id %>">
                        <!-- Embedded video link -->
                        <iframe src="<%= course.video_link %>" allowfullscreen allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
                <!-- ========================================================= -->
                <!-- Include Plyr.js CSS -->
                <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />

              
    </div>

    <!-- COURSE DETAIL -->
    <!-- ========================================================= -->
    <div class="course-detail">
        <div class="section-title">
            <h1>
                <%= course.title %>
            </h1>
        </div>
        <h3>
            <%= course.description %>
        </h3>
        <p><%= course.text_content %></p>
        <br>
    </div>

    <!--SCRIPTS-------------------------------------------------------------------------------------------------------------------->
    <!-- Include Plyr.js library -->
    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>

    <!-- Initialize Plyr.js -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Select all video players with class 'plyr__video-embed' and initialize Plyr
            const players = Array.from(document.querySelectorAll('.plyr__video-embed')).map(p => new Plyr(p));
        });
    </script>
</body>

</html>