<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courses.css"> 
</head>
<body>
    <%- include ('navbar') -%>
    <%- include ('alert') -%>
    <div class="courses-container"> <!-- New container for courses -->
        <button>
            <a href="/">Go back Home</a>
        </button>
        <hr>
        <h1>My Library</h1>
        <div class="course-list">
            <% if (courses.length > 0) { %>
              <ul>
                <% courses.forEach(course => { %>
                  <li>
                    <a href="/api/course/<%= course.id %>/modules" target="_blank" >
                        <img src="<%= course.thumbnail %>" alt="<%= course.title %> Image">
                        <h2><%= course.title %></h2>
                        <p><%= course.description %></p>
                    </a>
                </li>
                <% }) %>
              </ul>
            <% } else { %>
              <p>No courses owned yet.</p>
              <a href="courses/">go and see courses</a>
            <% } %>
          </div>
          
    </div>
</body>
</html>
