<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courses.css"> 
</head>
<body>
    <%- include ('navbar') -%>
    <%- include ('alert') -%>
    <div class="courses-container"> <!-- New container for courses -->
        <button>
            <a href="/">Go back Home</a>
        </button>
        <hr>
        <h1>All Courses</h1>
        <ul>
            <% courses.forEach(course => { %>
                <li>
                    <a href="/course/<%= course.id %>" target="_blank" >
                        <h2><%= course.title %></h2>
                        <p>Price: $<%= course.price %></p>
                        <p><%= course.description %></p>
                        <img src="<%= course.image %>" alt="<%= course.title %> Image">
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
