<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Overview</title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courseOverview.css">
</head>

<body>
    <div class="course-container">
        <%- include ('navbar') -%>
        <%- include ('alert') -%>
        <button>
            <a href="/api/courses">Go back to All Courses</a>
        </button>
        <div class='course-detail'>
            <div>
                <button>
                    <p><a href="/api/course/<%= course.id %>/update">Edit</a></p>
                </button>
                <button>
                    <p><a href="#">Delete</a></p>
                </button>
            </div>
            <!--here we display enrolledcourses from the user-->
            <% if (course) { %>
                <img src="<%= course.thumbnail %>" alt="<%= course.title %> image">
                <h1><%= course.title %></h1>
                <h3><%= course.description %></h3>
                <p><%= course.instructor %></hp>
                <!-- Display other details of the course -->
              <% } else { %>
                <p>No course details available.</p>
              <% } %>
        </div>

    </div>
</body>

</html>