<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Overview</title>
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/courseOverview.css">
</head>

<body>
    <div class="course-container">
        <%- include ('navbar') -%>
        <%- include ('alert') -%>
        <button>
            <a href="/courses">Go back to All Courses</a>
        </button>
        <div class='course-detail'>
            <img src="<%= course.thumbnail %>" alt="<%= course.title %> Image">

            <h1><%= course.title %></h1>
                
            <p>
                <%= course.overview %>
            </p>
            <div>
                <p>Instructor: <%= course.instructor %>
                </p>
                    <p>Description: <%= course.description %>
                </p>
                <p>Duration: <%= course.length %>
                </p>
            </div>
            <br>
        </div>

    </div>
</body>

</html>