<div className="courses-page-container">
  <div className="courses-container">
    <div className="section-title z-index-1">
      <h1 className="text-white"><%= title %></h1>
    </div>

    <!-- pagination top -->
    <div className="pagination">
      <% if (page && page> 1) { %>
      <a href="/api/<%= route %>?page=<%= page - 1 %>&perPage=<%= perPage %>"
        >Previous</a
      >
      <% } %> <% for (let i=1; i <=totalPages; i++) { %> <% if (!(i===totalPages
      && courses.length===0)) { %>
      <a
        href="/api/<%= route %>?page=<%= i %>&perPage=<%= perPage %>"
        className="<%= currentPage === i ? 'active' : '' %>"
      >
        <%= i %>
      </a>
      <% } %> <% } %> <% if (page && page < totalPages) { %>
      <a href="/api/<%= route %>?page=<%= page + 1 %>&perPage=<%= perPage %>"
        >Next</a
      >
      <% } %>
    </div>

    <!-- courses -->
    <div className="courses-grid">
      <% courses.forEach((course, index)=> { %>
      <div className="course-item backdrop-filter shadow-lg">
        <a href="<%= course.next %>">
          <img
            src="<%= course.thumbnail %>"
            alt="thumbnail-<%= course.slug %>"
          />
          <p className="timestamp text-white"><%= course.updated_at %></p>
          <div className="author">
            <img
              src="<%= course.author.avatar %>"
              alt="User Avatar"
              className="avatar"
            />
            <p className="author-info text-white">
              <strong> <%= course.author.username %> </strong> •
              <%=course.author.name%>
            </p>
          </div>
          <h2 className="text-white"><%= course.title %></h2>

          <% if (course.usd_price || course.usd_price ) {%>
          <p className="text-white">
            USD <%= course.usd_price %> | ARS <%= course.ars_price %>
          </p>
          <% } %>

          <!-- limit description 50 words -->
          <% let descriptionWords=course.description.split(' '); %> <% let
          limitedDescription = descriptionWords.slice(0, 50).join(' '); %>
          <p className="text-white"><%= limitedDescription %></p>
          
        </a>
        <% if (isAdmin) {%>
        <div className="course-actions">
          <p className="text-white">
            <a className="text-muted" href="/api/course/<%= course.id %>/update"
              ><i className="fas fa-edit me-2"></i
            ></a>
            <input type="hidden" name="author" value="<%= course.author %>" />
          </p>
          <p>
            <a
              className="text-muted"
              href="/api/course/<%= course.id %>/delete?courseId=<%= course.id %>"
              ><i className="fas fa-trash-alt me-2"></i
            ></a>
          </p>
        </div>
        <% }%>
      </div>
      <% if ((index + 1) % 4===0 && index !==courses.length - 1) { %>
    </div>
    <div className="courses-grid"><% } %> <% }); %></div>
  </div>
</div>
