<div className="courses-container">
  <div className="section-title">
    <h1>Mis cursos</h1>
  </div>
  <div className="courses-grid">
    <% courses.reverse().forEach((course, index)=> { %>
      <div className="course-item  backdrop-filter shadow-lg">
        <a href="/api/course/<%= course.id %>">
          <img src="<%= course.thumbnail %>" alt="thumbnail-<%= course.slug %>" />
          <p className="timestamp">
            <%= course.updated_at %>
          </p>
          <div className="author">
            <img src="<%= course.author.avatar %>" alt="User Avatar" className="avatar">
            <p className="author-info"><strong>
                <%= course.author.username %>
              </strong> • <%=course.author.name%>
            </p>
          </div>
          <h2>
            <%= course.title %>
          </h2>
          <p>
            <%= course.description %>
          </p>
        </a>
        <% if (isAdmin) {%>
          <div className="course-actions">
            <p>
              <a href="/api/course/<%= course.id %>/update">Edit</a>
            </p>
            <p>
              <a href="/api/course/<%= course.id %>/delete?courseId=<%= course.id %>">Delete</a>
            </p>
          </div>
          <% } %>

      </div>
      <% if ((index + 1) % 4===0 && index !==courses.length - 1) { %>
  </div>
  <div className="courses-grid">
    <% } %>
      <% }); %>
  </div>
</div>
