<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Details</title>
    <link rel="stylesheet" href="css/courseEnroll.css">
</head>
<body>
    <button>
        <a href="/courses">Go back to All Courses</a>
    </button>
    <hr>
    <div class='course-overview'>
        <h1>Payment Details</h1>
        <hr>
        <br>
        <!-- Payment Details -->
        <img src="<%= course.image %>" alt="<%= course.title %> Image">
        <br>
        <h2><%= course.title %></h2>
        <div>
            <p>Instructor: <%= course.instructor %></p>
            <p>Duration: <%= course.length %></p>
            <p>Price: $<%= course.price %></p>
        </div>
        <br>
        <p><%= course.description %></p>
        <br>
    </div>
    <hr>
    <div class='payment-options'>
        <!--course enroll-->
        <h2>Total Amount: $<%= course.price %></h2>
        <!-- The form to trigger the payment -->
        <form action="/api/create-order" method="POST">
            <!-- Hidden input to pass the course slug to the server -->
            <input type="hidden" name="courseSlug" value="<%= course.slug %>">
            <button type="submit">Pay Now</button>
        </form>
    </div>
</body>
</html>
